@page "/"

<PageTitle>Home</PageTitle>

<h1>Roles Sample App</h1>

<AuthorizeView>
    <Authorized>
        <h2>Role-based authorization examples</h2>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="role-checks-with-authorizeview">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Role Checks with AuthorizeView
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="require-admin-role-with-authorize-attribute">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Require 'Admin' role with [Authorize] attribute
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="require-admin-or-superuser-role-with-authorize-attribute">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Require 'Admin' or 'SuperUser' role with [Authorize] attribute
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="require-admin-and-superuser-roles-with-authorize-attributes">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Require 'Admin' and 'SuperUser' roles with [Authorize] attributes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pass-requireadminrole-policy-with-authorizeview">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Pass 'RequireAdminRole' policy with AuthorizeView
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pass-requireadminrole-and-requiresuperuserrole-policies-with-authorizeviews">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Pass 'RequireAdminRole' and 'RequireSuperUserRole' policies with AuthorizeViews
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pass-requireadminrole-policy-with-authorize-attribute">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Pass 'RequireAdminRole' policy with [Authorize] attribute
            </NavLink>
        </div>
        <h2>Claim-based authorization examples</h2>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pass-employeeonly-policy-with-authorizeview">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Pass 'EmployeeOnly' policy with AuthorizeView
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pass-employeeonly-policy-with-authorize-attribute">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Pass 'EmployeeOnly' policy with [Authorize] attribute
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pass-founder-policy-with-authorizeview">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Pass 'Founder' policy with AuthorizeView
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pass-founder-and-humanresourcesmember-policies-with-authorizeviews">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Pass 'Founder' and 'HumanResourcesMember' policies with AuthorizeViews
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pass-founder-and-humanresourcesmember-policies-with-authorize-attributes">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Pass 'Founder' and 'HumanResourcesMember' policies with [Authorize] attributes
            </NavLink>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Sign into the app with one of the seeded accounts. See the README file for accounts and credentials.</p>
    </NotAuthorized>
</AuthorizeView>
